{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-xs-6">
        <div class="form-group">
        {{ form_widget(form.name, { 'attr': {'placeholder': 'Nom' }}) }}
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
        {{ form_widget(form.color, { 'attr': {'placeholder': 'Couleur', 'class': 'minicolors' }}) }}
        </div>
    </div>
    <div class="col-xs-1">
        <div class="form-group">
            <button class="btn btn-default" data-icon="glyphicon-{{ form.icon.vars.value }}" data-form-item-relation="#{{ form.icon.vars.id }}" role="iconpicker"></button>
        </div>
    </div>
    <div class="col-xs-1">
        <div class="form-group">
            {{ form_widget(form.submit) }}
        </div>
    </div>
{{ form_end(form) }}
